name: smartdns-chinalist

on:
 schedule: 
   - cron: "26 20 * * 0" 
 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@main
    - name: CI
      run: |
        sudo timedatectl set-timezone "Asia/Shanghai"
        rm -f ./accelerated-domains.china.domain.smartdns.conf
        git clone --depth=1 https://github.com/felixonmars/dnsmasq-china-list
        cd dnsmasq-china-list
        make SERVER=domestic SMARTDNS_SPEEDTEST_MODE=tcp:80 smartdns-domain-rules
        rm -rf ./dnsmasq-china-list
    - name: Commit files
      run: |
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "smartdns-chinalist CI." -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.PERSON_TOKEN }}
        branch: 'main'
    - name: Delete workflow runs
      uses: GitRML/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 3
